body {
  padding: 1em;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
}


header p {
    margin: 0;
    font-size: smaller;
}

h1,
h2 {
  margin: 0;
}

footer p {
    margin-bottom: 2em;
}

button {
  color: white;
  background: darkgreen;
  width: 6em;
  padding: 1em;
  border: 2px solid rgba(0, 100, 0, 0);
  border-radius: 0.5em;
  margin: 1em;
  font-weight: bold;
  font-size: 100%;
}
button.stop {
  background: darkred;
}

button:hover,
button:active {
  border: 2px solid black;
}

button.clicking, 
a.clicking {
  border-color: black;
}

#error-message {
  color: red;
}

table {
  border: none;
  margin: 0 auto;
  text-align: left;
}

td,th {
  padding: 0.1em 0.2em;
  font-weight: normal;
}
th {
    text-align: right;
}

footer {
  padding-top: 1em;
  font-size: 70%;
}

input[type=number] {
    width: 3em;
}
